@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    min-height: 100dvh;
    max-width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    background-color: rgb(14, 14, 14);
    gap: 20px;
}

header img {
    width: 400px;
    animation:
        opacidade 3s forwards;
    filter: grayscale(100) brightness(100);
    padding: 20px;

}

header h1,
header h2 {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: movimentobaixopracima 12s;
    animation-iteration-count: 1;
}

@keyframes transicao {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    75% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

main {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

#contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    animation: opacidade 3s;
    animation-iteration-count: 1;
    text-align: center;
}

h1,
h2 {
    color: #001e49;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: movimentobaixopracima 12s;
    animation-iteration-count: 1;
}

h2 {
    font-weight: normal;
}

#contato button {
    cursor: pointer;
    background-color: #001e49;
    color: whitesmoke;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    transition: 1.3s;
}

#contato button:hover {
    color: whitesmoke;
    background-color: rgb(31, 31, 31);
}

.portfolio {
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: opacidade 3s;
    animation-iteration-count: 1;
    text-align: center;
    min-height: 100dvh;
    padding-bottom: 20px;
    padding-top: 20px;
}

@keyframes opacidade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.videos {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    animation: opacidade 5s;
    animation-iteration-count: 1;
}

footer {
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    background-color: rgb(15, 15, 15);
    padding: 10px;
    color: rgb(230, 230, 230);
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


@media screen and (max-width: 700px) {
    header img {
        width: 290px;
    }

    .videos img,
    .videos iframe {
        width: 320px;
    }
}