@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #001e49;
    min-height: 100dvh;
    max-width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

header img {
    filter: drop-shadow(0px 0px 2px whitesmoke);
    animation: transicao 12s;
    animation-iteration-count: 1;
}

@keyframes transicao {
    0% {
        filter: drop-shadow(0px 0px 1px #001e49);
    }

    20% {
        transform: translateY(15px);
        filter: drop-shadow(0px 0px 2px whitesmoke);
    }

    70% {
        transform: translateY(0px);
        filter: drop-shadow(0px 0px 2px whitesmoke);
    }
}

main {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

#contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 50px;
    animation: opacidade 3s;
    animation-iteration-count: 1;
    text-align: center;
}

h1,
h2 {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: movimentobaixopracima 12s;
    animation-iteration-count: 1;
}

h2 {
    font-weight: normal;
}

#contato button {
    cursor: pointer;
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    transition: 1.3s;
}

#contato button:hover {
    color: black;
    background-color: rgb(223, 223, 223);
}

.portfolio {
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: opacidade 3s;
    animation-iteration-count: 1;
    text-align: center;
}

@keyframes opacidade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    animation: opacidade 5s;
    animation-iteration-count: 1;
}

footer {
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    background-color: rgb(15, 15, 15);
    padding: 6px;
    color: rgb(230, 230, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 19px;
}